#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use network installation
url --url="http://192.168.137.38/cobbler/ks_mirror/CentOS-6.8-x86_64/"
#repo --name="CentOS" --baseurl=cdrom:sr0 --cost=100
# Root password
rootpw --iscrypted $1$ljohn$yBMDpKkntQ9jfV1ZAWKpU1
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
# System keyboard
keyboard us
# System language
lang en_US.UTF-8
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
#logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  Asia/Shanghai
# Network information
network  --bootproto=dhcp
#network  --bootproto=dhcp --device=eth0 --onboot=on
# System bootloader configuration
bootloader --append="crashkernel=auto rhgb quiet" --location=mbr --driveorder="sda"
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --bytes-per-inode=4096 --fstype="ext4" --size=300
part pv.01 --size=4096  --grow 
volgroup myvg --pesize=4096 pv.01 
logvol swap --name=lv_swap --vgname=myvg --size=4096
logvol / --fstype=ext4  --name=lv_root --vgname=myvg --size=1 --grow

%packages --nobase
@core

# Common tools
tree
nmap
sysstat
lrzsz
dos2unix
telnet
vim
openssh-clients
wget
%end

%post
# Create default file path
mkdir -p /server/{scripts,tools,backup}
# add scripts

%end
